$width: 30vw;
$height: 40vh;
$border: 1px solid black;
$background-color: grey;

/* Full screen background */
$fullscreen_width:  100vw;  /* const */
$fullscreen_height: 100vh; /* const */

body{              
    /* Full screen background */
    margin: 0;       
    background: linear-gradient(90deg, #5ea155,#0087d7,#ef97f1);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    /* Center block #auth */
    display: flex;  
    justify-content: center;
    align-items: center;

    /* Make full screen size container */
    width: $fullscreen_width;
    height: $fullscreen_height;
}

#auth
{
    min-width: $width;
    min-height: $height;
    border: $border;
    background-color: $background-color;
}